<p style="color: green"><%= notice %></p>

<h1>Restaurants</h1>

<div id="restaurants">
<div>
  <% @restaurants.each do |restaurant| %>
    <%= render restaurant %>
      <%= link_to "Show this restaurant", restaurant%>
  <% end %>
      <p class='new-btn'><%= link_to "New restaurant", new_restaurant_path %></p>
      </div>
</div>
